.addButton{
    background-color: var(--app-tint);
    border: none;
    height:40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}